/ {
    ir_sensor: gpio_keys {
        compatible = "gpio-keys";
        label = "IR Sensor";

        ir_input: ir_input {
            gpios = <&gpioa 2 GPIO_ACTIVE_LOW>;
            label = "IR IN";
        };
    };



    /* Set devicetree aliases */
    aliases {
        irsensor = &ir_input;
        arduinospi = &spi2;
        mpu6050 = &mpu6050;
    };
};

/* Modify the existing spi2 node */
&spi2 {
    status = "okay";
    pinctrl-0 = <&spi2_sck_pb13 &spi2_miso_pb14 &spi2_mosi_pb15>;
    pinctrl-names = "default";
    cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;

    arduino_spi_dev: arduino@0 {
        compatible = "spi-device";
        reg = <0>;
        spi-max-frequency = <1000000>;
        label = "ARDUINO_SPI";
    };
};

&i2c1 {
    status = "okay";
    pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb9>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_STANDARD>; // 100kHz

    mpu6050: mpu6050@68 {
        compatible = "invensense,mpu6050";
        reg = <0x68>;
        label = "MPU6050";
        // Optional: enable if you wire INT pin
        // int-gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
    };
};





